<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
             <!-- Suicidal risk -->
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                    {{first_name}} {{last_name}} [{{userid}}] har svaret, at [han/hun (he/she)] har planer om eller har forsøgt selvmord. [han/hun (he/she)] skal ringes op øjeblikkeligt. [han/hun (he/she)] har også fået en automatisk besked fra os med teksten: <br/>
                   Hej {{first_name}} <br/>
Vi kan se, at du har krydset af, at du har planer om eller har haft forsøg på selvmord. Det er meget alvorligt og er noget, du skal gøre noget ved øjeblikkeligt. <br/>
På arbejdsbordet finder du information om, hvem du kan kontakte ved at klikke på redskabet: “Brug for akut psykiatrisk hjælp?”. Vi vil også ringe til dig, så vi kan tage en snak om det. 
Bedste hilsener Internetpsykiatrien.
Der skal foretages en suicidalitetsudredning efter Regionens retningslinier. Retningslinierne kan findes på regionens intranet eller i papirform på klinikken

                <p style="margin-bottom:0">
                    
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
