<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
             <!-- When a waiting list patient is supposed to start (after 90 days) -->
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                  {{first_name}} {{last_name}} [{{userid}}]'s ventetid er forbi og [han/hun (he/she)] skal påbegynde behandlingen idag. [han/hun (he/she)] har fået tilsendt følgende automatiske besked:<br/>
                  Hej {{first_name}}. <br/>
Der er nu gået 10 uger, siden din ventetid begyndte, så din behandling begynder idag! Du skal logge ind med det brugernavn og den adgangskode du har fået udleveret. Send os meget gerne en besked derinde fra om, at nu er du gået igang. :-) 
Bedste hilsener Internetpsykiatrien.<br/>
Tag godt imod [han/hun (he/she)] :-)

                <p style="margin-bottom:0">
                    
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
