<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <!-- The user hasn't been logged in for 7 days -->
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                   {{first_name}} {{last_name}} [{{userid}}] har ikke været logget ind i 7 dage og skal ringes op. <br/>
                   Problemet skal identificeres og hvis muligt, skal [han/hun (he/she)] motiveres til at fortsætte igen ved hjælp af problemløsning, empatisk samtale eller anden intervention.<br/>
                   Hvis ikke dette ser ud til at være muligt, skal [han/hun (he/she)] tages op på næste konference

                <p style="margin-bottom:0">
                    
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
