<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0"><!---Second notification to log on and use the treatment  -->
                Hej [first name]. 
                Det er nu 5 dage siden, du sidst har været logget på programmet. Skriv lige til os, hvad der stopper dig,
                så vi kan prøve at hjælpe dig igang igen hurtigst muligt. 
                Bedste hilsener Internetpsykiatrien.
                </p>
<!--             <p>Dine login oplysninger er:</p>-->
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
