<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                    Hej {{@name}}. 
                    Det er en uge siden, at vi har hørt fra dig. Vær sød lige at skrive til din psykolog, hvor langt du er nået og hvad du er igang med.
                    Bedste hilsener Internetpsykiatrien.
                </p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
