<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0"><!---The day after the user will receive a first notification to make the registration   -->
                   Hej [first name]. 
                Igår havde du lavet følgende aftale med dig selv: [patients own text from calender appointment].
                Det er nu tid til at gå ind i din aktivitetskalender og registrere hvor tilfredsstillende og krævende det var. 
                Bedste hilsener Internetpsykiatrien.
                <p>Dine login oplysninger er:</p>
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
