<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
            <!--The user has terminated step 6 and 9x days have passed-->
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                    Hej [first name]. 
                    Der er nu gået over 90 dage, siden du afsluttede behandlingen.
                    Vi vil derfor inderligt bede dig om, at logge på programmet snarest og besvare spørgeskemaerne en sidste gang.
                    Det er også vigtigt, selvom du ikke fik noget ud af det eller ikke brød dig om det.
                    Tænk på, at der hele tiden kommer nye folk ind i behandlingen, som har det skidt, og som vi gerne vil hjælpe så godt som overhovedet muligt - og det er det dine svar kan hjælpe med.
                    Bedste hilsener Internetpsykiatrien.
                </p>
               <p>Dine login oplysninger er:</p>
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
