<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <!--The user has terminated step 6 and 90 days have passed-->
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                    Hej [first name]. 
                    Der er nu gået 90 dage, siden du afsluttede behandlingen. 
                    Vi vil derfor bede dig om, at logge på programmet idag og besvare spørgeskemaerne en sidste gang. 
                    Dette er meget vigtigt for forskningsresultaterne og altså dermed for vores mulighed for at forbedre programmet. 
                    De næste der skal bruge programmet får altså direkte gavn af din besvarelse. 
                    Bedste hilsener Internetpsykiatrien.
                </p>
               <p>Dine login oplysninger er:</p>
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
