<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr><!--- Two hours before the time of the activity the user will get a notification -->
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                    Hej {{@name}}. 
                    Om 2 timer har du lavet følgende aftale med dig selv: {{@acttext}}. 
                    Husk at logge på programmet efterfølgende for at registrere hvor tilfredsstillende og krævende det var. 
                    Bedste hilsener Internetpsykiatrien.
                </p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
