<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0"><!---Third notification about start of treatment  -->
                    Hej [first name]. 
                    Der er nu gået 10 uger, siden din ventetid begyndte,
                    så din behandling begynder idag! Du skal logge ind med det brugernavn og den adgangskode du har fået udleveret. 
                    Send os meget gerne en besked derinde fra om, at nu er du gået igang. :-) 
                    Bedste hilsener Internetpsykiatrien.
                </p>
<!--             <p>Dine login oplysninger er:</p>-->
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
