<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <!--The user has a suicidal score which is critical-->
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                   Hej [first name]. 
                    Vi kan se, at du har krydset af, at du har planer om eller har haft forsøg på selvmord.
                    Det er meget alvorligt og er noget, du skal gøre noget ved øjeblikkeligt.
                    På arbejdsbordet finder du information om, hvem du kan kontakte ved at klikke på redskabet: “Brug for akut psykiatrisk hjælp?”.
                    Vi vil også ringe til dig, så vi kan tage en snak om det. 
                    Bedste hilsener Internetpsykiatrien.
                </p>
               <p>Dine login oplysninger er:</p>
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
