<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0"><!---first notification treatment  -->
                   Hej [first name]. 
                    Vi kan se, at du ikke har været logget på programmet i 2 dage. Det kan der selvfølgelig være alle gode grunde til,
                    men vi vil lige minde dig om, at du helst skal logge ind og arbejde med dine øvelser hver dag, for at få det bedste ud af behandlingen. 
                    Bedste hilsener Internetpsykiatrien.
                </p>
<!--             <p>Dine login oplysninger er:</p>-->
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
