<link href="{{ @ROOT }}/assets/css/message.css" rel="stylesheet" type="text/css"/>
<script src="{{ @ROOT }}/3rdparty/bootstrap/js/bootstrap.custom.min.js"></script>
<link href="{{ @ROOT }}/3rdparty/bootstrap/css/bootstrap.custom.css" rel="stylesheet"/>
<style>
    .msg_okBtn {
        background-color: #303030;
        color: #fff;
        border: none;
        border-radius: 15px;
        padding: 0 22px;
        margin: 0 65px;
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .Button40x158 {
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: 5px;
    height: 30px;
    width: 120px;
    float: none;
    }
           
    .Button40x158 > a {
    color: #FFFFFF;
    padding: 7px 0px 0px 35px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    }
    
    .chatMainBox{
        width:550px
    }
</style>        
<input type="hidden" value="" id="mid">


<!-- main container -->
<div class="msg_mainBox" style="background-color: #f7f7f4"> 
    <!-- inner container -->
    <div class="msg_sectiondiv">
        <!-- main title -->
        <div class="chatMainBox">

            <div class="chatTopBox"> 
                <div class="chat_headTitle">
                    <h3 style="font-weight:bold">&nbsp;&nbsp;skift kodeord</h3> 
                </div>
            </div>
            
            <!-- left right box div-->
            <div class="chatBottomBox">
                
                <div style="margin:20px; background-color: #fff; padding:20px">
                    
               
                    <form action="{{ @ROOT }}/password_reset" method="POST" id="frmcp" name="pass-form" style="font-size:14px">
                    <center>
                    <input type="hidden" value="{{@userid}}" name="id">
                    <check if="{{isset(@message) && (@message != '') }}">
                        <style>.maintenance-alert-box {color:#555;border-radius:10px;font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;padding:10px 10px 10px 36px;margin:10px;} .maintenance-alert-box span {font-weight:bold;text-transform:uppercase;} .maintenance-warning { background:#fff8c4; border:1px solid #f2c779;}</style>
                        <div class="maintenance-alert-box maintenance-warning">
                            {{@message}}
                        </div>
                    </check>
                    <table class="table">
                        <tbody><tr>
                            <td style="">Nuværende adgangskode</td>
                            <td style=""><input id="currentpassword" name="currentpassword" type="password" class="pass-input glowing-border" style="width:255px" onblur="" ></td>
                            <td class="pass-alert" id="pass-alert-check"></td>
                        </tr>
                        <tr class="">
                            <td>Ny adgangskode</td>
                            <td><input name="newpassword" id="newpassword" type="password" class="pass-input glowing-border"  style="width:255px"></td>
                            <td class="pass-alert" id="pass-alert-check-exists"></td>
                        </tr>
                        <tr id="pass-error">
                            <td></td>
                            <td id="pass-warning" style="color:red"></td>
                            <td></td>
                        </tr>
                        <tr class="">
                            <td>Gentag ny adgangskode</td>
                            <td><input id="confirmpassword" name="confirmpassword" type="password"  style="width:255px" class="pass-input glowing-border">
                            </td>
                            <td class="pass-alert" id="pass-alert-confirm"></td>
                        </tr>
                         <tr class="">
                             <td></td>
                             <td >
                                 <input type="submit" style="display: none" />
                                <div id="pass-save" class="Button40x158 But-Tick-40x158 hidden" style="display: block; float:left">
                                        <a href="javascript:void(0)">GEM</a>
                                </div>
                                <div id="pass-back" class="Button40x158 But-Cross-40x158 hidden" style="display: block; float:left; margin-left: 20px">
                                    <a href="javascript:void(0)" onclick="$('#frmcp')[0].reset()">AFBRYD</a>
                                </div>
                               
                                
                            </td>
                            <td class="pass-alert" id="pass-alert-confirm"></td>
                        </tr>
                    </tbody></table>
                    </center>
                </form>

               
                    
                    
                </div>

            </div>
        </div>
        <br class="clear"/>
    </div>

</div>


<script>
    
    
    
   
    window.onload = function(){
        
    }
    
    $(document).on('click', '.messagetitle', function(){
	
        var mid = $(this).data('id');
        var uid = $(this).data('id');
        var title = $(this).data('text');
        
        $('#mtitle').html(title);
        //document.getElementById("mtitle" + document.getElementById("mid").value).className = "";
		
        $('li[tempclass="msgli"]').removeClass();
		setTimeout(function(){
				document.getElementById("mtitle" + mid).className = "active";
				document.getElementById("mid").value = mid;
				timer(1,0);
		}, 100);
		
    });
    
    $(".send").unbind("click").click(function() {
        var message = document.getElementById("message").value;
        var mid = document.getElementById("mid").value;
        var uid = document.getElementById("uid").value;
        var titles;
        
        if (document.getElementById("titles")) {
            titles = document.getElementById("titles").value;
        } else {
            titles = '-';
        }
        if (!mid) {
            mid = 0;
        }


        if (message != "Skriv besked"){
            $.ajax({
                url: "/section/addmessage",
                type: 'POST',
                dataType: 'json',
                async: false,
                data: {
                mid: mid,
                        uid:uid,
                        message: message,
                        title: titles

                },
                success: function(data) {
                    if (data.status == "success") {
                        document.getElementById("mid").value = data.mid;
                        if (titles != '-') {
                            $('#mtitle').html(titles);
                                updatetitles();
                        }
                        
                        timer(1,data.mid);
                        
                        document.getElementById("message").value = "Skriv besked";
                        
                    }
                },
                error: function(data) {

                }
            });
        }
    });
    
    $(".newmessage").unbind("click").click(function() {
        
        $('.help').popover('hide');
        document.getElementById("mid").value = 0;
        $('#chatcontent').html('');
        var data = '<input type="text" size="30" id="titles" class="textboxstl" value="Navngiv samtalen" onclick="tclear()">';
        $('#mtitle').html(data);
    });
    
    function updatemessages(t) {
        var mid = document.getElementById("mid").value;
        var uid = document.getElementById("uid").value;
        
        if (mid) {
            $.ajax({
                url: "{{ @ROOT }}/section/mcontent",
                type: 'GET',
                data: {
                    mid: mid,
                    uid:uid
                },
                success: function(data) {
                    $('#chatcontent').html(data);
                    if(t==1){
                    var objDiv = document.getElementById("messagecontainer");
                    objDiv.scrollTop = objDiv.scrollHeight;
                    }
                }
            });
        }
    }

    function updatetitles() {
        var mid = document.getElementById("mid").value;
        var uid = document.getElementById("uid").value;
        
       
        $.ajax({
            url: "{{ @ROOT }}/section/tcontent",
            type: 'GET',
            data: {
                    mid: mid,
                    uid:uid
                },
            success: function(data) {
            $('#cssmenu').html(data);
           
                   
                    document.getElementById("mtitle" + mid).className = "active";
            }

        });
    }

    function timer(t,m){
        var mid = document.getElementById("mid").value;
        
        if (mid){
            updatemessages(t);
            if(m){
            sendmail(m);
            }
            setTimeout(function(){timer(2,0)}, 3000);
        }
        
    }

    function tclear(){
        document.getElementById("titles").value = "";
    }

    function launchmessage(uid) {
      
      if(uid){
        $.ajax({
            url: "/section/checkmessage",
            type: 'GET',
            dataType: 'json',
            async: false,
            data: {
            uid:uid
            },
            success: function(data) {
                var mid = data.mid;
               
                var title = data.title;
                var uid = data.uid;
                
                if (mid){
                    $('#mtitle').html(title);
                    document.getElementById("mtitle" + mid).className = "";
                    document.getElementById("mtitle" + mid).className = "active";
                    document.getElementById("mid").value = mid;
                    
                    timer(1,0);
                }
            }
        });
      }else{
      $.ajax({
            url: "/section/checkmessage",
            type: 'GET',
            dataType: 'json',
            async: false,
            data: {
            //uid:uid
            },
            success: function(data) {
                var mid = data.mid;
               
                var title = data.title;
                var uid = data.uid;
                
                if (mid){
                    $('#mtitle').html(title);
                    document.getElementById("mtitle" + mid).className = "";
                    document.getElementById("mtitle" + mid).className = "active";
                    document.getElementById("mid").value = mid;
                    
                    timer(1,0);
                }
            }
        });
      }
    }

    function cleardata(){
        var message = document.getElementById("message").value;
        
        if (message == "Skriv besked"){
            document.getElementById("message").select();
        }
    }

    function sendmail(mid){
       
        $.ajax({
            url: "/section/sendmail",
            type: 'POST',
            dataType: 'json',
            async: false,
            data: {
                mid: mid
               
            },
            success: function(data) {
                
            },
            error: function(data) {

            }
        });
        return true;
    }
   function cancelpopup()
   {
       $('.popover.fade.bottom').each(function() {
           $(this).remove();
       });
        
       $('.help').popover({
            content: $('#MSG-HelpContent').html(),
            html: true,
            placement: 'bottom',
            trigger: 'click'
       });
   }
   
        
            function checkmsg(){
                
                 $.ajax({
                    url: "/section/checkmessagef",
                    type: 'POST',
                    dataType: 'json',
                    async: false,
                    success: function(data) {
                        
                        // to work on session expiry
                        if(data.mflag == "-1")
                        {
                            //location.reload();
							window.location = "/login/timeout";
                        }
                       
                    }
                });
        }
        
        function msgchecktimer(){
                        
                        // deepanshu stopping message calls
                        checkmsg();
                        
                        setTimeout(function(){msgchecktimer()},3000)
                        
        }
        
        $(document).ready(function(){
             msgchecktimer();
        });
        
//        /*P095-286*/
//        function checkNewpasswordAvailability()
//    {
//        $("#newpassword").val($.trim($("#newpassword").val()));
//        var currentpassword = $('#newpassword').val();
//        //alert(currentpassword);
//        $.ajax({
//            url: "{{ @ROOT }}/window/check/password",
//            type: 'GET',
//            dataType: 'json',
//            async: false,
//            data: {password: currentpassword},
//            success: function (data) {
//                //alert(data.usrrsk);
//                if (data.status == 'success') {
//                    $('#pass-warning').html('Ny adgangskode bør ikke være det samme som gamle adgangskode.');
//                    $('#pass-error').show();
//                    //$("#newpassword").focus();
//                } else
//                {
//                    $('#pass-warning').html('');
//                    $('#pass-error').hide();
//                }
//            }
//        });
//        //alert("available");
//    }
    $('#pass-save').click(function () {
            $("#currentpassword").val($.trim($("#currentpassword").val()));
            $("#newpassword").val($.trim($("#newpassword").val()));
            $("#confirmpassword").val($.trim($("#confirmpassword").val()));
            
            $('#frmcp').submit(); 
        
    })
        /**/
  
    
</script>
<!--for password tip start-->
<script src="{{ @ROOT }}/assets/js/passwordstrength.js"></script>
<script>
      jQuery(document).ready(function () {
            var options = {
                onLoad: function () {
                   // $('#messages').text('Start typing password');
                },
                onKeyUp: function (evt) {
                   // $(evt.target).pwstrength("outputErrorList");                   
                }
            };
            $('#newpassword').pwstrength(options);
            });
</script>
<style>
/*    just for password tip*/
  .progress {
  height: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
</style>

<!--password tip end-->