<style>
    .quiz-container {
        background-color: #ffffff;
    }

    .carousel-indicators {
        display: none;
    }

    .container {
        text-align: center;
    }

    .pull-right .btn.btn-success.btn-lg {
        display: none;
    }

    .btn.btn-success.btn-lg {
        margin-top: 100px;
        width: 250px;
    }
</style>

<div class="container">
    <input name="separator" type="hidden" value="1">
    <img src="{{ @ROOT }}/assets/img/logo_end.png">

    <h3>Færdig!</h3>

    <p>
        Tak for dine svar. Tryk på “afslut” for at lukke vinduet og vende.<br>
        tilbage til programmet.
    </p>

    <a class="btn btn-success btn-lg">
        AFSLUT
    </a>

</div>
<!-- /container -->
