<h2>Invalid Patient Logins</h2>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>First Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Group</th>
        <th>Current Step</th>
        <th>Last Login(CET)</th>
    </tr>
    <repeat group="{{ @users }}" value="{{ @user }}">
        <tr>
            <td>{{ trim(@user.name) }}</td>
            <td>{{ trim(@user.last_name) }}</td>
            <td>{{ trim(@user.email) }}</td>
            <td>{{ trim(@user->getGroupName()) }}</td>
            <td>Step {{ trim(@user->treatment_step) }}</td>
            <td>{{ trim(@user.access_date) }}</td>
        </tr>
    </repeat>
</table>
