<!--<form action="#">
    <fieldset>
        <input type="text" name="search" value="" id="id_search" placeholder="Search" autofocus />
    </fieldset>
</form>-->
<h2>Provider Admins
    
    <check if="{{ @logged_user->isAdminGroup() }}">
        <a href="{{ @BASE.'/user/create' }}" class="btn btn-primary btn-md pull-right"><i
                class="glyphicon glyphicon-plus"></i> Add</a>
    </check>
</h2>

<check if="{{ isset(@unblocked) && @unblocked == '1' }}">

        <!-- code for displaying unblock message -->

            <center><div style=" text-align:left" class="alert alert-info"><b>User unblocked successfully.</b> </div></center>

        <!-- end  -->

</check>

<table class="table table-striped table-hover table-bordered" id="data">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
    <check if="{{ @logged_user->isAdminGroup() }}">
        <th>Actions</th>
    </check>
</tr>
</thead>
<tbody>
<repeat group="{{ @users }}" value="{{ @user }}">
    <tr>
        <td>{{ trim(@user.name) }}</td>
        <td>{{ trim(@user.last_name) }}</td>
        <td><a href="{{ @BASE.'/user/update/'. @user.id }}">{{ trim(@user.email) }}</a></td>
        <td>{{ trim(@user.phone) }}</td>
    <check if="{{ @logged_user->isAdminGroup() }}">
        <td>
            <a href="{{ @BASE.'/user/update/'. @user.id }}" class="btn btn-primary btn-xs">
                <i class="glyphicon glyphicon-edit"></i> Edit
            </a>
            &nbsp;
            
            <!-- fix for unblock button -->
            <check if="{{ @user->is_blocked }}">
                <a href="{{ @BASE.'/user/unblock/'. @user.id }}" onclick="return confirm('Er du sikker på, du vil fjerne blokeringen denne bruger?')" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-ok icon-white"></i> Unblock 
                </a>
            </check>
            <!-- fix for unblock button end -->
          
            <a href="{{ @BASE.'/user/delete/'. @user.id }}"  onclick="return confirm('Er du sikker på, at du vil slette brugeren?')" class="btn btn-danger btn-xs">
                <i class="glyphicon glyphicon-remove icon-white"></i>Delete
            </a>
        </td>
    </check>
    </tr>
</repeat>
</tbody>
</table>
