<style>
    .quiz-container {
        background-color: #ffffff;
    }
    .carousel-indicators {
        display: none;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
    <input name="separator" type="hidden" value="1">
    <img src="{{ @ROOT }}/assets/img/logo_section.png">

    <h3>Dit Helbred</h3>

    <p>
        De næste 6 spørgsmål omhandler dit helbred. Angiv, ved at sætte<br>
        kryds i én af kasserne i hver gruppe, hvilke udsagn, der<br>
        bedst beskriver din helbredstilstand i dag<br>
    </p>

</div>
<!-- /container -->
