<style>
    .quiz-container {
        background-color: #ffffff;
    }

    .carousel-indicators {
        display: none;
    }

    .container {
        text-align: center;
    }
</style>

<div class="container">
    <input name="separator" type="hidden" value="1">
    <img src="{{ @ROOT }}/assets/img/logo_section.png">

    <h3>Dine Bekymringer</h3>

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3" style="text-align: center">
            <p>
                De næste spørgsmål omhandler dine bekymringer. Vægt hver af de følgende udsagn, på en skala fra 1 (”ligner mig slet ikke”) til 5 (”ligner mig meget”). Vær venlig at besvare alle spørgsmål
            </p>
        </div>

    </div>

</div>
<!-- /container -->
