<input name="quiz_id" type="hidden"
       value="{{ isset(@quiz_id) ? @quiz_id : '' }}">
<input name="step" type="hidden" value="44">
<div class="container">

    <h2>41. Følelse af langsomhed</h2>


    <hr class="visible-xs">

    <div class="row">
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[48][answer_id]) and @DATA.question[48][answer_id]==163 }}">
                        <input type="radio" name="question[48][answer_id]" value="163" checked="checked">
                        <false><input type="radio" name="question[48][answer_id]" value="163"></false>
                    </check>
                    Jeg tænker, taler og bevæger mig i mit sædvanlige tempo.
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[48][answer_id]) and @DATA.question[48][answer_id]==164 }}">
                        <input type="radio" name="question[48][answer_id]" value="164" checked="checked">
                        <false><input type="radio" name="question[48][answer_id]" value="164"></false>
                    </check>
                    Jeg synes, at jeg tænker langsommere eller at min stemme lyder
                    kedelig og flad.
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[48][answer_id]) and @DATA.question[48][answer_id]==165 }}">
                        <input type="radio" name="question[48][answer_id]" value="165" checked="checked">
                        <false><input type="radio" name="question[48][answer_id]" value="165"></false>
                    </check>
                    Det tager mig flere sekunder at svare på de fleste spørgsmål, og
                    jeg er sikker på at jeg tænker langsommere.

                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[48][answer_id]) and @DATA.question[48][answer_id]==166 }}">
                        <input type="radio" name="question[48][answer_id]" value="166" checked="checked">
                        <false><input type="radio" name="question[48][answer_id]" value="166"></false>
                    </check>
                    Jeg er ofte ikke i stand til at svare på spørgsmål uden at gøre
                    mig store anstrengelser.
                </label>
            </div>
        </div>
    </div>
    <!-- /container -->

</div>