<style>
    .quiz-container {
        background-color: #ffffff;
    }
    .carousel-indicators {
        display: none;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
    <input name="separator" type="hidden" value="1">
    <img src="{{ @ROOT }}/assets/img/logo_section.png">

    <h3>Dine Tendenser</h3>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p>
                Vælg venligst ved hvert punkt den svarmulighed, der bedst beskriver, hvordan du har haft det i de sidste syv dage
            </p>
        </div>

    </div>

</div>
<!-- /container -->
