<style>
    .quiz-container {
        background-color: #ffffff;
    }
    .carousel-indicators {
        display: none;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
    <input name="separator" type="hidden" value="1">
    <img src="{{ @ROOT }}/assets/img/logo_section.png">

    <h3>Din baggrund</h3>

    <p>
        De første 9 spørgsmål omhandler din baggrund, mm. Vær venlig<br>
        at læse hvert spørgsmål grundigt. Besvar spørgsmålet ved at<br>
        sætte kryds i det felt, der passer til dit svar, og uddyb<br>
        venligst der, hvor det er relevant.<br>
    </p>

</div>
<!-- /container -->
