<style>
/*    td.top_deghead h4 {
        color: #5F5F68;
        float: left;
        font-size: 0.9em;
        margin: 0;
        padding: 0;
        width: 125px;
        height: auto;
        transform: rotate(-70deg);
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        -webkit-backface-visibility:hidden;  Chrome, Safari, Opera 
        backface-visibility:hidden;
    }*/
    button.btn-xs {
        margin-right: 50px;
        padding: 0 6px !important;
    }
    .btn-default {
        background: none;
    }
    button.btn-xs:hover {
        border-radius: 40px !important;
        padding: 0 6px !important;
        margin-right: 50px !important;
    }
    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th, .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #EFEFF0;
    }
    .table > tbody > tr > td, .table > tbody > tr > th {
        background-color: #fff;
        color: #575862;
        font-size: 17px;
    }
    .table-striped tbody tr.first td {
        border-top: none;
        padding: 0;
        text-align: left;
        height: 100px;
        width: 47%;
        float: left;
        margin: 0 0 10px 0;
    }
    .button_selected {
        margin-right: 50px !important;
    }
    
/*    .rightBox {
        float: right;
    }
    button.btn-xs {
        margin-right: 50px;
    }*/
    button.btn-xs:hover {
        margin-right: 50px;
    }
    .table-striped tbody tr td {
        width: 50%;
    }
    table tbody {
        float: left;
        width: 100%;
    }
    tr.tableBox {
        float: left;
        width: 100%;
    }
    .tableBox td.top_rotate_head h4 {
        position: relative;
    }
    button.btn-xs {
        outline: 0 !important;
    }
    
/*    .top_deghead .seclst{
        left:66%; margin: -23px 0 0;
    }
    .top_deghead .lst{
        left:83%; margin: -23px 0 0;
    }
    
    @-moz-document url-prefix() { 
        .top_deghead .seclst{
            left:39%; margin: -23px 0 0;
        }
        .top_deghead .lst{
            left:53%; margin: -25px 0 0;
        }
    }*/
/*** ***/
.table-striped tbody tr.first td {
    margin: 0 0 10px 14px;
}
.showbox {
    float: left; 
    margin: 0; 
    padding: 0; 
    display: block;
    width: 75px;
    height: 100px;
    text-indent: -9999px;
}
#quizform .quiz-container {
    padding: 0;
    height: 500px;
}
.top_deghead .tr_1 {
    background: url("{{@ROOT}}/assets/img/tr_text_1.png") no-repeat scroll 12px 0;
}
.top_deghead .tr_2 {
    background: url("{{@ROOT}}/assets/img/tr_text_2.png") no-repeat scroll 11px 0;
}
.top_deghead .tr_3 {
    background: url("{{@ROOT}}/assets/img/tr_text_3.png") no-repeat scroll 2px 0;
}
.top_deghead .tr_4 {
    background: url("{{@ROOT}}/assets/img/tr_text_4.png") no-repeat scroll 2px 0;
}
.top_deghead .tr_5 {
    background: url("{{@ROOT}}/assets/img/tr_text_5.png") no-repeat scroll 10px 0;
}
.top_deghead .tr_6 {
    background: url("{{@ROOT}}/assets/img/tr_text_6.png") no-repeat scroll 10px 0;
}
    
</style>

<div class="container">
    <input name="quiz_id" type="hidden"
           value="{{ isset(@quiz_id) ? @quiz_id : '' }}">
    <input name="step" type="hidden" value="2">

    <h2>2. Humør/tilstand</h2>

    <h4 class="text-muted">Nedennævnte spørgsmål handler om hvordan du har haft det gennem de sidste to uger.</h4>

    <table class="table table-striped table-hover" style="margin-top:40px;">
        <tbody>
            <tr class="tableBox first">
                <td> </td>
                <td class="top_deghead top_rotate_head">
                    <div class="showbox tr_1" > Hele tiden</div>
                    <div class="showbox tr_2" >Det meste af tiden</div>
                    <div class="showbox tr_3" >Lidt over halvdelen af tiden</div>
                    <div class="showbox tr_4" >Lidt under halvdelen af tiden</div>
                    <div class="showbox tr_5" >Lidt af tiden</div>
                    <div class="showbox tr_6" >På intet tidspunkt</div>
                </td>
            </tr>
        <tr>
            <td>Har du haft besvær med at koncentrere dig, f.eks.
læse avis eller følge med i fjernsyn?</td>
            <td>
                <check if="{{ isset(@DATA.question[156][241]) and @DATA.question[156][241]==6}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][241]" value="1">
                    <b>6</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][241]" value="6">
                   <b>6</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][241]) and @DATA.question[156][241]==5}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][241]" value="5">
                    <b>5</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][241]" value="5">
                   <b>5</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][241]) and @DATA.question[156][241]==4}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][241]" value="3">
                    <b>4</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][241]" value="4">
                   <b>4</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][241]) and @DATA.question[156][241]==3}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][241]" value="3">
                    <b>3</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][241]" value="3">
                   <b>3</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][241]) and @DATA.question[156][241]==2}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][241]" value="2">
                    <b>2</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][241]" value="2">
                   <b>2</b>
                  </button>
                </false>
               </check>
               <check if="{{ isset(@DATA.question[156][241]) and @DATA.question[156][241]==1}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][241]" value="1">
                    <b>1</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][241]" value="1">
                   <b>1</b>
                  </button>
                </false>
               </check>
                <input type="hidden" name="question[156][241][response]" value="">
            </td>
        </tr>
        <tr>
            <td>Har du følt dig rastløs?</td>
            <td>
                <check if="{{ isset(@DATA.question[156][242]) and @DATA.question[156][242]==6}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][242]" value="6">
                    <b>6</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][242]" value="6">
                   <b>6</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][242]) and @DATA.question[156][242]==5}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][242]" value="5">
                    <b>5</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][242]" value="5">
                   <b>5</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][242]) and @DATA.question[156][242]==4}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][242]" value="4">
                    <b>4</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][242]" value="4">
                   <b>4</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][242]) and @DATA.question[156][242]==3}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][242]" value="3">
                    <b>3</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][242]" value="3">
                   <b>3</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][242]) and @DATA.question[156][242]==2}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][242]" value="2">
                    <b>2</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][242]" value="2">
                   <b>2</b>
                  </button>
                </false>
               </check>
        
               <check if="{{ isset(@DATA.question[156][242]) and @DATA.question[156][242]==1}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][242]" value="1">
                    <b>1</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][242]" value="1">
                   <b>1</b>
                  </button>
                </false>
               </check>
                <input type="hidden" name="question[156][242][response]" value="">
            </td>
        </tr>
        <tr>
            <td>Har du følt dig mere stille?
            </td>
            <td>
                <check if="{{ isset(@DATA.question[156][243]) and @DATA.question[156][243]==6}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][243]" value="6">
                    <b>6</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][243]" value="6">
                   <b>6</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][243]) and @DATA.question[156][243]==5}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][243]" value="5">
                    <b>5</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][243]" value="5">
                   <b>5</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][243]) and @DATA.question[156][243]==4}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][243]" value="4">
                    <b>4</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][243]" value="4">
                   <b>4</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][243]) and @DATA.question[156][243]==3}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][243]" value="3">
                    <b>3</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][243]" value="3">
                   <b>3</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][243]) and @DATA.question[156][243]==2}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][243]" value="2">
                    <b>2</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][243]" value="2">
                   <b>2</b>
                  </button>
                </false>
               </check>
        
               <check if="{{ isset(@DATA.question[156][243]) and @DATA.question[156][243]==1}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][243]" value="1">
                    <b>1</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][243]" value="1">
                   <b>1</b>
                  </button>
                </false>
               </check>
                <input type="hidden" name="question[156][243][response]" value="">
            </td>
        </tr>
        <tr>
            <td>Har du haft besvær med at sove om natten?</td>
            <td>
                <check if="{{ isset(@DATA.question[156][244]) and @DATA.question[156][244]==6}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][244]" value="6">
                    <b>6</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][244]" value="6">
                   <b>6</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][244]) and @DATA.question[156][244]==5}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][244]" value="5">
                    <b>5</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][244]" value="5">
                   <b>5</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][244]) and @DATA.question[156][244]==4}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][244]" value="4">
                    <b>4</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][244]" value="4">
                   <b>4</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][244]) and @DATA.question[156][244]==3}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][244]" value="3">
                    <b>3</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][244]" value="3">
                   <b>3</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][244]) and @DATA.question[156][244]==2}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][244]" value="2">
                    <b>2</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][244]" value="2">
                   <b>2</b>
                  </button>
                </false>
               </check>
               
               <check if="{{ isset(@DATA.question[156][244]) and @DATA.question[156][244]==1}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][244]" value="1">
                    <b>1</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][244]" value="1">
                   <b>1</b>
                  </button>
                </false>
               </check>
                <input type="hidden" name="question[156][244][response]" value="">
            </td>
        </tr>
        <tr>
            <td>Har du haft nedsat appetit?
            </td>
            <td>
                <check if="{{ isset(@DATA.question[156][245]) and @DATA.question[156][245]==6}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][245]" value="6">
                    <b>6</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][245]" value="6">
                   <b>6</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][245]) and @DATA.question[156][245]==5}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][245]" value="5">
                    <b>5</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][245]" value="5">
                   <b>5</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][245]) and @DATA.question[156][245]==4}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][245]" value="4">
                    <b>4</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][245]" value="4">
                   <b>4</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][245]) and @DATA.question[156][245]==3}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][245]" value="3">
                    <b>3</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][245]" value="3">
                   <b>3</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][245]) and @DATA.question[156][245]==2}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][245]" value="2">
                    <b>2</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][245]" value="2">
                   <b>2</b>
                  </button>
                </false>
               </check>
               
               <check if="{{ isset(@DATA.question[156][245]) and @DATA.question[156][245]==1}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][245]" value="1">
                    <b>1</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][245]" value="1">
                   <b>1</b>
                  </button>
                </false>
               </check>
                <input type="hidden" name="question[156][245][response]" value="">
            </td>
        </tr>
        
        <tr>
            <td>Har du haft øget appetit?
            </td>
            <td>
                <check if="{{ isset(@DATA.question[156][246]) and @DATA.question[156][246]==6}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][246]" value="6">
                    <b>6</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][246]" value="1">
                   <b>6</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][246]) and @DATA.question[156][246]==5}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][246]" value="5">
                    <b>5</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][246]" value="5">
                   <b>5</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][246]) and @DATA.question[156][246]==4}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][246]" value="4">
                    <b>4</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][246]" value="4">
                   <b>4</b>
                  </button>
                </false>
               </check>

                
                <check if="{{ isset(@DATA.question[156][246]) and @DATA.question[156][246]==3}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][246]" value="3">
                    <b>3</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][246]" value="3">
                   <b>3</b>
                  </button>
                </false>
               </check>

                <check if="{{ isset(@DATA.question[156][246]) and @DATA.question[156][246]==2}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][246]" value="2">
                    <b>2</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][246]" value="2">
                   <b>2</b>
                  </button>
                </false>
               </check>
        
               <check if="{{ isset(@DATA.question[156][246]) and @DATA.question[156][246]==1}}">   
                 <button type="button" class="btn btn-xs btn-default button_selected" name="question[156][246]" value="1">
                    <b>1</b>
                 </button>
                <false>
                  <button type="button" class="btn btn-xs btn-default" name="question[156][246]" value="1">
                   <b>1</b>
                  </button>
                </false>
               </check>
                <input type="hidden" name="question[156][246][response]" value="">
            </td>
        </tr>
        </tbody>
    </table>

</div>
<script src="{{@ROOT}}/assets/js/quiz_answer_numeric.js"></script>
<!-- /container -->

