<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
            <tr>
                <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                    <p style="margin-bottom:0;margin-top:0">
                        Er bestået tre måneder, siden du har gennemført treament . Udfyld spørgeskemaet ved at logge igen
                    </p>
                    <p style="margin-bottom:0">

                    </p>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>