<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">
                    Du har for nylig ønsket at ændre dit password. Herunder ser du dit nye password.
                </p>
                <p>Dine login oplysninger er:</p>
                <p><b>Login:</b> {{ @email }}</p>
                <p><b>Password:</b> {{ @password }}</p>
                <p style="margin-bottom:0">
                    Log ind i programmet for at ændre password.
                </p>
            </td>
        </tr>
        <tr>
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:15px 0 0">
                <table style="width:auto;border-collapse:collapse">
                    <tbody>
                    <tr>
                        <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                            <div>
                                <table style="width:auto;border-collapse:collapse;border:1px solid #486582;border-radius:3px;background:#3068a2">
                                    <tbody>
                                    <tr>
                                        <td style="font:14px/1.4285714 Arial,sans-serif;padding:4px 10px">

                                            <a target="_blank"
                                               style="color:white;text-decoration:none;font-weight:bold"
                                               href="{{@ROOT}}/login">Login</a>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
