<div style="background:#fff;border:1px solid #ccc;border-radius:5px;padding:20px">
    <table style="width:100%;border-collapse:collapse">
        <tbody>
        <tr>
             <!-- Suicidal risk -->
            <td style="font:14px/1.4285714 Arial,sans-serif;padding:0">
                <p style="margin-bottom:0;margin-top:0">

                 {{@first_name}} {{@last_name}} {{@userID}} har højt ifht planer om eller forsøg på selvmord. Vedkommende skal ringes op hurtigst muligt.

Der skal foretages en suicidalitetsudredning efter Regionens retningslinier. Retningslinierne kan findes på regionens intranet eller i papirform på klinikken.

                <p style="margin-bottom:0">
                    
                </p>
            </td>
        </tr>
        <tr>
           <td>
           </td>
       </tr>
        </tbody>
    </table>
</div>
