<input name="quiz_id" type="hidden"
       value="{{ isset(@quiz_id) ? @quiz_id : '' }}">
<input name="step" type="hidden" value="36">

<div class="container">

    <h2>33. Koncentration / beslutningstagning</h2>

    <div class="row">
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[38][answer_id]) and @DATA.question[38][answer_id]== 131}}">
                        <input type="radio" name="question[38][answer_id]" value="131" checked="checked">
                        <false><input type="radio" name="question[38][answer_id]" value="131"></false>
                    </check>
                    Der er ingen ændring i min sædvanlige evne til at koncentrere mig
                    eller tage beslutninger.
                </label>
            </div>
        </div>
    </div>

    <hr class="visible-xs">

    <div class="row">
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[38][answer_id]) and @DATA.question[38][answer_id]== 132}}">
                        <input type="radio" name="question[38][answer_id]" value="132" checked="checked">
                        <false><input type="radio" name="question[38][answer_id]" value="132"></false>
                    </check>
                    Jeg føler mig af og til ubeslutsom eller føler, at jeg ikke kan
                    fastholde opmærksomheden.
                </label>
            </div>
        </div>
    </div>

    <hr class="visible-xs">

    <div class="row">
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[38][answer_id]) and @DATA.question[38][answer_id]== 133}}">
                        <input type="radio" name="question[38][answer_id]" value="133" checked="checked">
                        <false><input type="radio" name="question[38][answer_id]" value="133"></false>
                    </check>
                    Det meste af tiden må jeg virkelig anstrenge mig for at
                    koncentrere mig eller tage beslutninger.
                </label>
            </div>
        </div>
    </div>

    <hr class="visible-xs">

    <div class="row">
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <check if="{{ isset(@DATA.question[38][answer_id]) and @DATA.question[38][answer_id]== 134}}">
                        <input type="radio" name="question[38][answer_id]" value="134" checked="checked">
                        <false><input type="radio" name="question[38][answer_id]" value="134"></false>
                    </check>
                    Jeg kan ikke koncentrere mig nok til at læse – eller jeg er ikke i stand til at tage selv mindre
                    beslutninger.
                </label>
            </div>
        </div>
    </div>

</div>
<!-- /container -->
