<style>
    .quiz-container {
        background-color: #ffffff;
    }
    .carousel-indicators {
        display: none;
    }
    .container {
        text-align: center;
    }
</style>

<div class="container">
    <input name="separator" type="hidden" value="1">
    <img src="{{ @ROOT }}/assets/img/logo_section.png">

    <h3>Evaluering</h3>

    <p>
        Her til sidst kommer der otte spørgsmål, som handler om din<br>
        oplevelse af de samtaler/behandlingsgange du har modtaget. Du<br>
        bedes angive det svar, som kommer tættest på det du mener.<br>
    </p>

</div>
<!-- /container -->
